<!DOCTYPE html>
<html lang="en">
<head>
  <title>  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="{{ url_for('static', filename='css/c.css') }}" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
body
 {
  margin:0;
  padding:0;
  background:url();
  background-size:cover;
  background-repeat: no-repeat;
  font-family: Arial;
  font-size:14px;
  width:100%;
}
 .navbar {
      margin-bottom: 0;
      border-radius: 0;
      padding: 10px;
       }
#header h1 a:hover
 {
color: #273be2;
text-decoration: none;
}
#top
{
padding:10px 0;
text-align:center;
color:#00ffff;
font-size:25px;
height:20px;
}  
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 70%;
  background: #f1f1f1;
}
form.example button {
  float: left;
  width:30%;
  
  padding:08px;
  font-size: 20px;
  background: #2196F3;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}
</style>
</head>
<body>
<nav class="navbar navbar-inverse">
  <img src="{{ url_for('static', filename='images/logo.jpeg') }}" align="left"  height="70" width="200"> 
   <div class="navbar-brand"><font color="White"><center>LULU JEWELLERY SHOPPING</center></font>
   </div>
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
            <li><a href="register"><span class="glyphicon glyphicon-log-in"></span>Signup</a></li>
        <li><a href="login"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
      </ul>
    </div>
  </div>
</nav>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">GOLD</a>
        <ul class="dropdown-menu">
          <li><a href="customer_viewgoldbangles">Bangles</a></li>
          <li><a href="customer_viewgoldchains">Chains</a></li>
          <li><a href="customer_viewgoldearrings">Earrings</a></li>
          <li><a href="customer_viewgoldnecklaces">Necklaces</a></li>
          <li><a href="customer_viewgoldpendants">Pendants</a></li>
          <li><a href="customer_viewgoldrings">Rings</a></li>
        </ul>
      </li>
       <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">SILVER
       </a>
        <ul class="dropdown-menu">
          <li><a href="customer_viewsilverbangles">Bangles</a></li>
          <li><a href="customer_viewsilverchains">Chains</a></li>
          <li><a href="customer_viewsilverearrings">Earrings</a></li>
          <li><a href="customer_viewsilvernecklace">Necklaces</a></li>
          <li><a href="customer_viewsilverpendants">Pendants</a></li>
          <li><a href="customer_viewsilverrings">Rings</a></li>
        </ul>
      </li>
       <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">DIAMOND</a>
        <ul class="dropdown-menu">
          <li><a href="customer_viewdiamondbangles">Bangles</a></li>
          <li><a href="customer_viewdiamondnosepins">Nosepins</a></li>
          <li><a href="customer_viewdiamondearrings">Earrings</a></li>
          <li><a href="customer_viewdiamondnecklace">Necklaces</a></li>
          <li><a href="customer_viewdiamondpendants">Pendants</a></li>
          <li><a href="customer_viewdiamondrings">Rings</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">COLLECTIONS</a>
        <ul class="dropdown-menu">
          <li><a href="customer_viewelena">Elena</a></li>
          <li><a href="customer_viewgina">Gina</a></li>
          
        </ul>
      </li>
       <li><form class="example" action="/search" method="post" autocomplete="off" >
        <input type="text" placeholder="Search.." name="search">
          <button type="submit" name="submit"><i class="fa fa-search"></i></button>
           </form>
          </li>
    </ul>
  </div>
</nav><br>
<div class="container">
     {% include 'includes/_messages.html' %}
     {% block body %}
     {% endblock %}
</div>
<div class="col-sm-3 text-left">
</div>
<div class="container-fluid text-center">    
 <div class="col-sm-6 text-center">
<br>
</div>
</div>
 <div class="col-sm-3 text-left">
</div>

<div class="col-sm-3 text-left">
</div><center>
<div class="round">
<div id="googleMap" style="width:80%;height:450px;"></div>

<script>
function myMap() {
var mapProp= {
  center:new google.maps.LatLng(13.067439,80.237617),
  zoom:8,
};
var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
}
var marker = new google.maps.Marker({
          position: mapProp,
          map: mapProp,
          title: 'Hello World!'
        });
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCsJ-lL6lHrR0wIgmtaw1BoY1s5PDoSbqM&callback=myMap"></script>

</div></center>
 --> </body>
</html>
