{% extends 'admin_layout.html' %}
{% block body %}

<form action="/adminorder" method="POST">
    </form> 
   <font size="3">FEEDBACK RATINGS<BR>
    1 - POOR<BR>                      
    2 - GOOD<BR>
    3 - EXCELLENT<BR>
</font>
  <center><h3><u>Feedback</h3></center></u></center>
   <font size="3">
<table border="1" align="center" >
    <thead>
    <tr>
        <th>S.No</th>
        <th>Date</th>
        <th>Customer Name</th>
        <th>Product Code</th>
        <th>Product Name</th>
        <th>Quality Rating</th>
        <th>Price Rating</th>
        <th>Design Rating</th>
        <th>Discount<br> Rating</th>
        <th>Overall Rating</th>
        <th>Feedback</th>

    </tr>
        </thead>
    <tbody>
      
<tr>
<td>1</td>
<td>2019-09-02</td>
<td>Kavitha</td>
<td>
19C12341</td><td>
Swirl_Of_Fantasy_Gold_Earring</td>
<td>2</td>
<td>3</td>
<td>3</td>
<td>3</td>
<td>2</td><td>Good</td>

</tr>

<tr><td>2</td>
    <TD>2019-09-07</TD>
<td>Seetha</td> 
<td>20D12340</td>
<td>Oval_Enamour_Diamond_Necklace</td>
<td>3</td>
<td>2</td>
<td>3</td>
<td>2</td>
<td>2</td>
<td>Excellent Quality very good offers provided</td>
</tr>


<tr><td>3</td><td>2019-09-14</td>
    <td>Vinitha</td> 
<td>19A12350</td><td>
The_Varika_Enameled_Gold_Bangles</td>
<td>2</td>
<td>3</td>
<td>3</td>
<td>2</td>
<td>3</td>
<td>Its better than expected.</td>
</tr>

<tr>
<td>4</td>
<TD>2019-09-17</TD>
<td>Yoga</td> 
<td>19C12341</td>
<td>Swirl_Of_Fantasy_Gold_Earring</td>
<td>2</td>
<td>2</td>
<td>3</td>
<td>3</td>
<td>2</td>
<td>Excellent Quality and Design</td>
</tr>


<tr><td>5</td><td>2019-09-09</td>
<td>Sahashra</td> 
<td>
19D12340</td><td>
Dual_Toned_Hearts_Gold_Necklace
</td>

<td>2</td>
<td>3</td>
<td>2</td>

<td>3</td>
<td>3</td><td>It's a good product. Same as that of picture..</td>
</tr>

<tr><td>6</td>
<td>2019-09-12</td>    <td>Kalpana</td>
<td>19A12351</td><td>
Twinkle_Style_Rhodium_Polished_Gold_Bangle</td>
<td>3</td>
<td>2</td>
<td>2</td>
<td>2</td><td>2</td><td>Very nice and saves time..</td>

</tr>

<tr><td>7</td>
<td>2019-09-20</td>
<td>Sathish</td>
<td>19AB1234</td>
<td>Gold_Eye_Style_Studded_Bracelet</td>
<td>2</td>
<td>3</td>
<td>3</td>
<td>1</td>
<td>2</td>
<td>Good</td>
</tr>

<tr><td>8</td>
    <td>2019-09-22</td><td>Hanvika</td>
<td>19AB1234</td>
<td>Gold_Eye_Style_Studded_Bracelet</td>
<td>2</td>
<td>3</td>
<td>2</td>
<td>2</td>
<td>3</td>
<td>Excellent</td>

<tr><td>7</td>
<td>2019-09-20</td>
<td>Sathish</td>
<td>19AB1234</td>
<td>Gold_Eye_Style_Studded_Bracelet</td>
<td>2</td>
<td>3</td>
<td>3</td>
<td>1</td>
<td>2</td>
<td>Good</td>
</tr>

<tr><td>8</td>
    <td>2019-09-22</td><td>Hanvika</td>
<td>19AB1234</td>
<td>Gold_Eye_Style_Studded_Bracelet</td>
<td>2</td>
<td>3</td>
<td>2</td>
<td>2</td>
<td>3</td>
<td>Excellent</td><tr><td>7</td>
<td>2019-09-20</td>
<td>Sathish</td>
<td>19AB1234</td>
<td>Gold_Eye_Style_Studded_Bracelet</td>
<td>2</td>
<td>3</td>
<td>3</td>
<td>1</td>
<td>2</td>
<td>Good</td>
</tr>

<tr><td>8</td>
    <td>2019-09-22</td><td>Hanvika</td>
<td>19AB1234</td>
<td>Gold_Eye_Style_Studded_Bracelet</td>
<td>2</td>
<td>3</td>
<td>2</td>
<td>2</td>
<td>3</td>
<td>Excellent</td><tr><td>7</td>
<td>2019-09-20</td>
<td>Sathish</td>
<td>19AB1234</td>
<td>Gold_Eye_Style_Studded_Bracelet</td>
<td>2</td>
<td>3</td>
<td>3</td>
<td>1</td>
<td>2</td>
<td>Good</td>
</tr>

<tr><td>8</td>
    <td>2019-09-22</td><td>Hanvika</td>
<td>19AB1234</td>
<td>Gold_Eye_Style_Studded_Bracelet</td>
<td>2</td>
<td>3</td>
<td>2</td>
<td>2</td>
<td>3</td>
<td>Excellent</td><tr><td>7</td>
<td>2019-09-20</td>
<td>Sathish</td>
<td>19AB1234</td>
<td>Gold_Eye_Style_Studded_Bracelet</td>
<td>2</td>
<td>3</td>
<td>3</td>
<td>1</td>
<td>2</td>
<td>Good</td>
</tr>

<tr><td>8</td>
    <td>2019-09-22</td><td>Hanvika</td>
<td>19AB1234</td>
<td>Gold_Eye_Style_Studded_Bracelet</td>
<td>2</td>
<td>3</td>
<td>2</td>
<td>2</td>
<td>3</td>
<td>Excellent</td>
</tr>



<tr><td>7</td>
<td>2019-09-20</td>
<td>Sathish</td>
<td>19AB1234</td>
<td>Gold_Eye_Style_Studded_Bracelet</td>
<td>2</td>
<td>3</td>
<td>3</td>
<td>1</td>
<td>2</td>
<td>Good</td>
</tr>

<tr><td>8</td>
    <td>2019-09-22</td><td>Hanvika</td>
<td>19AB1234</td>
<td>Gold_Eye_Style_Studded_Bracelet</td>
<td>2</td>
<td>3</td>
<td>2</td>
<td>2</td>
<td>3</td>
<td>Excellent</td>

<tr><td>7</td>
<td>2019-09-20</td>
<td>Sathish</td>
<td>19AB1234</td>
<td>Gold_Eye_Style_Studded_Bracelet</td>
<td>2</td>
<td>3</td>
<td>3</td>
<td>1</td>
<td>2</td>
<td>Good</td>
</tr>

<tr><td>8</td>
    <td>2019-09-22</td><td>Hanvika</td>
<td>19AB1234</td>
<td>Gold_Eye_Style_Studded_Bracelet</td>
<td>2</td>
<td>3</td>
<td>2</td>
<td>2</td>
<td>3</td>
<td>Excellent</td>

<tr><td>7</td>
<td>2019-09-20</td>
<td>Sathish</td>
<td>19AB1234</td>
<td>Gold_Eye_Style_Studded_Bracelet</td>
<td>2</td>
<td>3</td>
<td>3</td>
<td>1</td>
<td>2</td>
<td>Good</td>
</tr>

<tr><td>8</td>
    <td>2019-09-22</td><td>Hanvika</td>
<td>19AB1234</td>
<td>Gold_Eye_Style_Studded_Bracelet</td>
<td>2</td>
<td>3</td>
<td>2</td>
<td>2</td>
<td>3</td>
<td>Excellent</td>

<tr><td>7</td>
<td>2019-09-20</td>
<td>Sathish</td>
<td>19AB1234</td>
<td>Gold_Eye_Style_Studded_Bracelet</td>
<td>2</td>
<td>3</td>
<td>3</td>
<td>1</td>
<td>2</td>
<td>Good</td>
</tr>

<tr><td>8</td>
    <td>2019-09-22</td><td>Hanvika</td>
<td>19AB1234</td>
<td>Gold_Eye_Style_Studded_Bracelet</td>
<td>2</td>
<td>3</td>
<td>2</td>
<td>2</td>
<td>3</td>
<td>Excellent</td>

<tr><td>7</td>
<td>2019-09-20</td>
<td>Sathish</td>
<td>19AB1234</td>
<td>Gold_Eye_Style_Studded_Bracelet</td>
<td>2</td>
<td>3</td>
<td>3</td>
<td>1</td>
<td>2</td>
<td>Good</td>
</tr>

<tr><td>8</td>
    <td>2019-09-22</td><td>Hanvika</td>
<td>19AB1234</td>
<td>Gold_Eye_Style_Studded_Bracelet</td>
<td>2</td>
<td>3</td>
<td>2</td>
<td>2</td>
<td>3</td>
<td>Excellent</td>

</tbody>

</table>
{% endblock %}